
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ title }} | Bringing your loved one to rest in the eternal serenity of the ocean.</title>
<meta name='robots' content='max-image-preview:large' />
<link rel="stylesheet" href="{{ '/css/styles.css' | url }}">

</head>

<body class="home page-template-default page page-id-22 logged-in">
<div id="fixed-background"></div>
<div id="page" class="hfeed site">
	<a class="skip-link screen-reader-text" href="#content">Skip to content</a>

	<header id="masthead" class="site-header container-fluid" role="banner">
	

		<div class="container" style="position: relative;">
			<a href="{{ '/' | url }}" rel="home">
                <img class="site-logo" src="{{ '/img/ccbatlogo6.gif' | url}}" alt="Cape Cod Burials at Sea">
                <h1>Cape Cod Burials at Sea</h1>
            </a>
			<nav id="site-navigation" class="main-navigation row" role="navigation" style="">
				<h2>Main Navigation</h2>							
				<div class="menu-menu-1-container"><ul id="primary-menu" class="nav nav-tabs">
                    <li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27">
                        <a href="{{ '/contact-us' | url }}">Contact Us</a>
                    </li>
                    <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23">
                        <a href="{{ '/price-list/' | url }}">Price List</a></li>
                    <li id="menu-item-26" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26">
                        <a href="{{ '/authorization-form/' | url }}">Authorization Form</a>
                    </li>
                    </ul></div>				

			</nav><!-- #site-navigation -->
			<button id="menu-toggle-button">Menu</button>
		</div>
			
	</header><!-- #masthead -->

	<div class="container header-image">
        <img src="{{ '/img/cropped-CCBAS-sunset-pic.jpg' | url }}"  width="1000" height="364" alt=""></div>
			
			
	<div id="content" class="site-content container">

	<div id="primary" class="content-area col-md-8">
		<main id="main" class="site-main" role="main">
            
        <header class="entry-header">
		    <h1 class="entry-title">{{ title }}</h1>	
        </header>
			
        {{ content | safe}}			
			
		</main><!-- #main -->
	</div><!-- #primary -->


<div id="secondary" class="widget-area col-md-4" role="complementary">
	<aside id="text-4" class="widget widget_text"><h1 class="widget-title">We Operate Year Round</h1>			
    <div class="textwidget"><ul>
<li>USCG Licensed Captains</li>
<li>USCG Certified Vessels</li>
<li>We Serve All Faiths</li>
<li>Services Available Year-Round</li>
</ul></div>
		</aside><aside id="text-3" class="widget widget_text"><h1 class="widget-title">Get in Touch</h1>			
        <div class="textwidget"><p>Cape Cod Burials at Sea</p>
<p>508-888-3288 office<br />
508-846-4575 cell</p>
<p>klanelymg@capecod.net</p>
</div>
		</aside></div><!-- #secondary -->

	</div><!-- #content -->

	<footer id="colophon" class="site-footer container" role="contentinfo">
		<div class="site-info row">
			<a href="http://11ty.dev/">Proudly powered by 11ty</a>			
		</div><!-- .site-info -->
	</footer><!-- #colophon -->
</div><!-- #page -->

</body>
</html>
